body {
    background: aliceblue;
}

.project-btn-primary {
    background-color: #FDB44B!important;
    border-color: black!important;
    color: black!important;
}

.project-btn-secondary {
    background-color: black!important;
    border-color: black!important;
}

.errors {
    padding-bottom: 10px;
    padding-top: 10px;
}